openapi: 3.0.3
info:
  title: Version 4
  description: This API is the version 4 of TMDB API
  version: 1.0.0
  contact: {}
servers:
  - url: https://api.themoviedb.org
paths:
  /4/account/{account_object_id}/lists:
    get:
      tags:
        - ACCOUNT
      summary: Lists
      description: This endpoint get the custom lists that a user has created.
      operationId: lists
      parameters:
        - name: page
          description: the page number
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Lists
          headers:
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            Cache-Control:
              schema:
                type: string
                example: public, max-age=0
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Thu, 27 Feb 2025 10:57:33 GMT
            ETag:
              schema:
                type: string
                example: W/"7fc0d84cec54631dd640fbd17865ca59"
            Server:
              schema:
                type: string
                example: openresty
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Origin
            Via:
              schema:
                type: string
                example: >-
                  1.1 f4f3f118ac6f8aab6b0b8776a3481c6e.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Id:
              schema:
                type: string
                example: H0RslKImGQHXEVECwoV-mMA2OPkY8n6508xek_030LTrZzius91U_Q==
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: LOS50-P2
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            x-memc:
              schema:
                type: string
                example: MISS
            x-memc-age:
              schema:
                type: string
                example: '0'
            x-memc-expires:
              schema:
                type: string
                example: '0'
            x-memc-key:
              schema:
                type: string
                example: 33730b97a029ee414ebc815cab40e5cc
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    example: 1
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        account_object_id:
                          type: string
                          example: 676a950bf68dc118f77ecc2a
                        adult:
                          type: number
                          example: 0
                        average_rating:
                          type: number
                          example: 0
                        backdrop_path:
                          nullable: true
                          example: null
                        created_at:
                          type: string
                          example: 2025-02-04 17:24:37 UTC
                        description:
                          type: string
                          example: This is a guide in testing this API endpoint
                        featured:
                          type: number
                          example: 0
                        id:
                          type: number
                          example: 8510518
                        iso_3166_1:
                          type: string
                          example: US
                        iso_639_1:
                          type: string
                          example: en
                        name:
                          type: string
                          example: API documentation
                        number_of_items:
                          type: number
                          example: 0
                        poster_path:
                          nullable: true
                          example: null
                        public:
                          type: number
                          example: 1
                        revenue:
                          type: number
                          example: 0
                        runtime:
                          type: string
                          example: '0'
                        sort_by:
                          type: number
                          example: 1
                        updated_at:
                          type: string
                          example: 2025-02-04 17:24:37 UTC
                    example:
                      - account_object_id: 676a950bf68dc118f77ecc2a
                        adult: 0
                        average_rating: 0
                        backdrop_path: null
                        created_at: 2025-02-04 17:24:37 UTC
                        description: This is a guide in testing this API endpoint
                        featured: 0
                        id: 8510518
                        iso_3166_1: US
                        iso_639_1: en
                        name: API documentation
                        number_of_items: 0
                        poster_path: null
                        public: 1
                        revenue: 0
                        runtime: '0'
                        sort_by: 1
                        updated_at: 2025-02-04 17:24:37 UTC
                      - account_object_id: 676a950bf68dc118f77ecc2a
                        adult: 0
                        average_rating: 0
                        backdrop_path: null
                        created_at: 2025-01-27 09:43:27 UTC
                        description: This is a story to test this API endpoint
                        featured: 0
                        id: 8509236
                        iso_3166_1: US
                        iso_639_1: en
                        name: True Story Of Nnekka
                        number_of_items: 0
                        poster_path: null
                        public: 1
                        revenue: 0
                        runtime: '0'
                        sort_by: 1
                        updated_at: 2025-01-27 09:43:27 UTC
                      - account_object_id: 676a950bf68dc118f77ecc2a
                        adult: 0
                        average_rating: 7.9
                        backdrop_path: null
                        created_at: 2024-12-30 08:59:43 UTC
                        description: This is a story to test this API endpoint
                        featured: 0
                        id: 8504086
                        iso_3166_1: US
                        iso_639_1: en
                        name: True Story Of Nnekka
                        number_of_items: 1
                        poster_path: null
                        public: 1
                        revenue: 40061153
                        runtime: '140'
                        sort_by: 1
                        updated_at: 2025-01-27 09:43:10 UTC
                      - account_object_id: 676a950bf68dc118f77ecc2a
                        adult: 0
                        average_rating: 0
                        backdrop_path: null
                        created_at: 2025-01-08 03:05:46 UTC
                        description: This is a story to test this API endpoint
                        featured: 0
                        id: 8505816
                        iso_3166_1: US
                        iso_639_1: en
                        name: True Story Of Nnekka
                        number_of_items: 0
                        poster_path: null
                        public: 1
                        revenue: 0
                        runtime: '0'
                        sort_by: 1
                        updated_at: 2025-01-08 03:05:46 UTC
                      - account_object_id: 676a950bf68dc118f77ecc2a
                        adult: 0
                        average_rating: 7.6
                        backdrop_path: null
                        created_at: 2025-01-03 19:30:29 UTC
                        description: Just an awesome list.
                        featured: 0
                        id: 8504985
                        iso_3166_1: US
                        iso_639_1: en
                        name: This is my awesome test list.
                        number_of_items: 1
                        poster_path: null
                        public: 1
                        revenue: 263920180
                        runtime: '126'
                        sort_by: 1
                        updated_at: 2025-01-03 19:32:07 UTC
                  total_pages:
                    type: number
                    example: 1
                  total_results:
                    type: number
                    example: 5
              examples:
                Lists:
                  value:
                    page: 1
                    results:
                      - account_object_id: 676a950bf68dc118f77ecc2a
                        adult: 0
                        average_rating: 0
                        backdrop_path: null
                        created_at: 2025-02-04 17:24:37 UTC
                        description: This is a guide in testing this API endpoint
                        featured: 0
                        id: 8510518
                        iso_3166_1: US
                        iso_639_1: en
                        name: API documentation
                        number_of_items: 0
                        poster_path: null
                        public: 1
                        revenue: 0
                        runtime: '0'
                        sort_by: 1
                        updated_at: 2025-02-04 17:24:37 UTC
                      - account_object_id: 676a950bf68dc118f77ecc2a
                        adult: 0
                        average_rating: 0
                        backdrop_path: null
                        created_at: 2025-01-27 09:43:27 UTC
                        description: This is a story to test this API endpoint
                        featured: 0
                        id: 8509236
                        iso_3166_1: US
                        iso_639_1: en
                        name: True Story Of Nnekka
                        number_of_items: 0
                        poster_path: null
                        public: 1
                        revenue: 0
                        runtime: '0'
                        sort_by: 1
                        updated_at: 2025-01-27 09:43:27 UTC
                      - account_object_id: 676a950bf68dc118f77ecc2a
                        adult: 0
                        average_rating: 7.9
                        backdrop_path: null
                        created_at: 2024-12-30 08:59:43 UTC
                        description: This is a story to test this API endpoint
                        featured: 0
                        id: 8504086
                        iso_3166_1: US
                        iso_639_1: en
                        name: True Story Of Nnekka
                        number_of_items: 1
                        poster_path: null
                        public: 1
                        revenue: 40061153
                        runtime: '140'
                        sort_by: 1
                        updated_at: 2025-01-27 09:43:10 UTC
                      - account_object_id: 676a950bf68dc118f77ecc2a
                        adult: 0
                        average_rating: 0
                        backdrop_path: null
                        created_at: 2025-01-08 03:05:46 UTC
                        description: This is a story to test this API endpoint
                        featured: 0
                        id: 8505816
                        iso_3166_1: US
                        iso_639_1: en
                        name: True Story Of Nnekka
                        number_of_items: 0
                        poster_path: null
                        public: 1
                        revenue: 0
                        runtime: '0'
                        sort_by: 1
                        updated_at: 2025-01-08 03:05:46 UTC
                      - account_object_id: 676a950bf68dc118f77ecc2a
                        adult: 0
                        average_rating: 7.6
                        backdrop_path: null
                        created_at: 2025-01-03 19:30:29 UTC
                        description: Just an awesome list.
                        featured: 0
                        id: 8504985
                        iso_3166_1: US
                        iso_639_1: en
                        name: This is my awesome test list.
                        number_of_items: 1
                        poster_path: null
                        public: 1
                        revenue: 263920180
                        runtime: '126'
                        sort_by: 1
                        updated_at: 2025-01-03 19:32:07 UTC
                    total_pages: 1
                    total_results: 5
    parameters:
      - name: account_object_id
        in: path
        required: true
        schema:
          type: string
          example: 676a950bf68dc118f77ecc2a
  /4/account/{account_object_id}/movie/favorites:
    get:
      tags:
        - ACCOUNT
      summary: Favorite Movies
      description: This endpoint get a user's list of favorite movies
      operationId: favoriteMovies
      parameters:
        - name: page
          description: the page number
          in: query
          schema:
            type: integer
            default: 1
        - name: language
          description: The ISO 639-1 code for the language
          in: query
          schema:
            type: string
            default: en-US
        - name: sort_by
          in: query
          schema:
            type: string
            enum: ['created_at.asc', 'created_at.desc']
      responses:
        '200':
          description: Favorite Movies
          headers:
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            Cache-Control:
              schema:
                type: string
                example: public, max-age=0
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Mon, 03 Mar 2025 08:50:47 GMT
            ETag:
              schema:
                type: string
                example: W/"7d5fefccef81c61a2000a8dadd9ff649"
            Server:
              schema:
                type: string
                example: openresty
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Origin
            Via:
              schema:
                type: string
                example: >-
                  1.1 882971ebff26c2a3bfb086f9b480f172.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Id:
              schema:
                type: string
                example: fqAZhXJx5OeKVTjsFt_dActkDb_FwZ35UVaD26J85QXAJ2JkuaVGYQ==
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: LOS50-P2
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            x-memc:
              schema:
                type: string
                example: MISS
            x-memc-age:
              schema:
                type: string
                example: '0'
            x-memc-expires:
              schema:
                type: string
                example: '0'
            x-memc-key:
              schema:
                type: string
                example: 7e435613152a0e6e946bcca4b0e1e280
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    example: 1
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                        backdrop_path:
                          type: string
                          example: /hZkgoQYus5vegHoetLkCJzb17zJ.jpg
                        genre_ids:
                          type: array
                          items:
                            type: number
                            example: 18
                          example:
                            - 18
                        id:
                          type: number
                          example: 550
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: Fight Club
                        overview:
                          type: string
                          example: >-
                            A ticking-time-bomb insomniac and a slippery soap
                            salesman channel primal male aggression into a
                            shocking new form of therapy. Their concept catches
                            on, with underground "fight clubs" forming in every
                            town, until an eccentric gets in the way and ignites
                            an out-of-control spiral toward oblivion.
                        popularity:
                          type: number
                          example: 129.668
                        poster_path:
                          type: string
                          example: /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
                        release_date:
                          type: string
                          example: '1999-10-15'
                        title:
                          type: string
                          example: Fight Club
                        video:
                          type: boolean
                          example: false
                        vote_average:
                          type: number
                          example: 8.438
                        vote_count:
                          type: number
                          example: 29909
                    example:
                      - adult: false
                        backdrop_path: /hZkgoQYus5vegHoetLkCJzb17zJ.jpg
                        genre_ids:
                          - 18
                        id: 550
                        original_language: en
                        original_title: Fight Club
                        overview: >-
                          A ticking-time-bomb insomniac and a slippery soap
                          salesman channel primal male aggression into a
                          shocking new form of therapy. Their concept catches
                          on, with underground "fight clubs" forming in every
                          town, until an eccentric gets in the way and ignites
                          an out-of-control spiral toward oblivion.
                        popularity: 129.668
                        poster_path: /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
                        release_date: '1999-10-15'
                        title: Fight Club
                        video: false
                        vote_average: 8.438
                        vote_count: 29909
                      - adult: false
                        backdrop_path: /xZm5YUNY3PlYD1Q4k7X8zd2V4AK.jpg
                        genre_ids:
                          - 28
                          - 35
                        id: 993710
                        original_language: en
                        original_title: Back in Action
                        overview: >-
                          Fifteen years after vanishing from the CIA to start a
                          family, elite spies Matt and Emily jump back into the
                          world of espionage when their cover is blown.
                        popularity: 568.089
                        poster_path: /3L3l6LsiLGHkTG4RFB2aBA6BttB.jpg
                        release_date: '2025-01-15'
                        title: Back in Action
                        video: false
                        vote_average: 6.486
                        vote_count: 1053
                  total_pages:
                    type: number
                    example: 1
                  total_results:
                    type: number
                    example: 2
              examples:
                Favorite Movies:
                  value:
                    page: 1
                    results:
                      - adult: false
                        backdrop_path: /hZkgoQYus5vegHoetLkCJzb17zJ.jpg
                        genre_ids:
                          - 18
                        id: 550
                        original_language: en
                        original_title: Fight Club
                        overview: >-
                          A ticking-time-bomb insomniac and a slippery soap
                          salesman channel primal male aggression into a
                          shocking new form of therapy. Their concept catches
                          on, with underground "fight clubs" forming in every
                          town, until an eccentric gets in the way and ignites
                          an out-of-control spiral toward oblivion.
                        popularity: 129.668
                        poster_path: /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
                        release_date: '1999-10-15'
                        title: Fight Club
                        video: false
                        vote_average: 8.438
                        vote_count: 29909
                      - adult: false
                        backdrop_path: /xZm5YUNY3PlYD1Q4k7X8zd2V4AK.jpg
                        genre_ids:
                          - 28
                          - 35
                        id: 993710
                        original_language: en
                        original_title: Back in Action
                        overview: >-
                          Fifteen years after vanishing from the CIA to start a
                          family, elite spies Matt and Emily jump back into the
                          world of espionage when their cover is blown.
                        popularity: 568.089
                        poster_path: /3L3l6LsiLGHkTG4RFB2aBA6BttB.jpg
                        release_date: '2025-01-15'
                        title: Back in Action
                        video: false
                        vote_average: 6.486
                        vote_count: 1053
                    total_pages: 1
                    total_results: 2
    parameters:
      - name: account_object_id
        in: path
        required: true
        schema:
          type: string
  /4/account/{account_object_id}/tv/favorites:
    get:
      tags:
        - ACCOUNT
      summary: Favorite Tv Show
      description: This endpoint get a user's list of favorite tv show
      operationId: favoriteTvShow
      parameters:
        - name: page
          description: the page number
          in: query
          schema:
            type: integer
            default: 1
        - name: language
          description: The ISO 639-1 code for the language
          in: query
          schema:
            type: string
            default: en-US
        - name: sort_by
          in: query
          schema:
            type: string
            enum: ['created_at.asc', 'created_at.desc']
      responses:
        '200':
          description: Favorite Tv Show
          headers:
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            Cache-Control:
              schema:
                type: string
                example: public, max-age=0
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Mon, 03 Mar 2025 08:52:34 GMT
            ETag:
              schema:
                type: string
                example: W/"8169e5976979514f37a4854d1f882da7"
            Server:
              schema:
                type: string
                example: openresty
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Origin
            Via:
              schema:
                type: string
                example: >-
                  1.1 a48ca718f5ae1bfdc24c87b7e08cdaea.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Id:
              schema:
                type: string
                example: k-Tkngib2GPxAZIPB7BS9Yugmc62TnYAxIT_4vCHGVgcTlPr-u_rKA==
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: LOS50-P2
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            x-memc:
              schema:
                type: string
                example: MISS
            x-memc-age:
              schema:
                type: string
                example: '0'
            x-memc-expires:
              schema:
                type: string
                example: '0'
            x-memc-key:
              schema:
                type: string
                example: 43b4ac1468e66fb3ee9175af4b898cf0
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    example: 1
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                        backdrop_path:
                          type: string
                          example: /fQsIJQxE1D0Y0NpWSKwo489y5px.jpg
                        first_air_date:
                          type: string
                          example: '2023-11-22'
                        genre_ids:
                          type: array
                          items:
                            type: number
                            example: 10764
                          example:
                            - 10764
                        id:
                          type: number
                          example: 204082
                        name:
                          type: string
                          example: 'Squid Game: The Challenge'
                        origin_country:
                          type: array
                          items:
                            type: string
                            example: GB
                          example:
                            - GB
                        original_language:
                          type: string
                          example: en
                        original_name:
                          type: string
                          example: 'Squid Game: The Challenge'
                        overview:
                          type: string
                          example: >-
                            In this reality competition show inspired by "Squid
                            Game," 456 players put their skills to the ultimate
                            test for a life-changing $4.56 million prize.
                        popularity:
                          type: number
                          example: 159.641
                        poster_path:
                          type: string
                          example: /y85L9DWoaM2MYNg1p8QRywxXJsa.jpg
                        vote_average:
                          type: number
                          example: 6.28
                        vote_count:
                          type: number
                          example: 480
                    example:
                      - adult: false
                        backdrop_path: /fQsIJQxE1D0Y0NpWSKwo489y5px.jpg
                        first_air_date: '2023-11-22'
                        genre_ids:
                          - 10764
                        id: 204082
                        name: 'Squid Game: The Challenge'
                        origin_country:
                          - GB
                        original_language: en
                        original_name: 'Squid Game: The Challenge'
                        overview: >-
                          In this reality competition show inspired by "Squid
                          Game," 456 players put their skills to the ultimate
                          test for a life-changing $4.56 million prize.
                        popularity: 159.641
                        poster_path: /y85L9DWoaM2MYNg1p8QRywxXJsa.jpg
                        vote_average: 6.28
                        vote_count: 480
                      - adult: false
                        backdrop_path: /zZqpAXxVSBtxV9qPBcscfXBcL2w.jpg
                        first_air_date: '2011-04-17'
                        genre_ids:
                          - 10765
                          - 18
                          - 10759
                        id: 1399
                        name: Game of Thrones
                        origin_country:
                          - US
                        original_language: en
                        original_name: Game of Thrones
                        overview: >-
                          Seven noble families fight for control of the mythical
                          land of Westeros. Friction between the houses leads to
                          full-scale war. All while a very ancient evil awakens
                          in the farthest north. Amidst the war, a neglected
                          military order of misfits, the Night's Watch, is all
                          that stands between the realms of men and icy horrors
                          beyond.
                        popularity: 834.776
                        poster_path: /1XS1oqL89opfnbLl8WnZY1O1uJx.jpg
                        vote_average: 8.5
                        vote_count: 24663
                  total_pages:
                    type: number
                    example: 1
                  total_results:
                    type: number
                    example: 2
              examples:
                Favorite Tv Show:
                  value:
                    page: 1
                    results:
                      - adult: false
                        backdrop_path: /fQsIJQxE1D0Y0NpWSKwo489y5px.jpg
                        first_air_date: '2023-11-22'
                        genre_ids:
                          - 10764
                        id: 204082
                        name: 'Squid Game: The Challenge'
                        origin_country:
                          - GB
                        original_language: en
                        original_name: 'Squid Game: The Challenge'
                        overview: >-
                          In this reality competition show inspired by "Squid
                          Game," 456 players put their skills to the ultimate
                          test for a life-changing $4.56 million prize.
                        popularity: 159.641
                        poster_path: /y85L9DWoaM2MYNg1p8QRywxXJsa.jpg
                        vote_average: 6.28
                        vote_count: 480
                      - adult: false
                        backdrop_path: /zZqpAXxVSBtxV9qPBcscfXBcL2w.jpg
                        first_air_date: '2011-04-17'
                        genre_ids:
                          - 10765
                          - 18
                          - 10759
                        id: 1399
                        name: Game of Thrones
                        origin_country:
                          - US
                        original_language: en
                        original_name: Game of Thrones
                        overview: >-
                          Seven noble families fight for control of the mythical
                          land of Westeros. Friction between the houses leads to
                          full-scale war. All while a very ancient evil awakens
                          in the farthest north. Amidst the war, a neglected
                          military order of misfits, the Night's Watch, is all
                          that stands between the realms of men and icy horrors
                          beyond.
                        popularity: 834.776
                        poster_path: /1XS1oqL89opfnbLl8WnZY1O1uJx.jpg
                        vote_average: 8.5
                        vote_count: 24663
                    total_pages: 1
                    total_results: 2
    parameters:
      - name: account_object_id
        in: path
        required: true
        schema:
          type: string
  /4/account/{account_object_id}/movie/rated:
    get:
      tags:
        - ACCOUNT
      summary: Rated Movies
      description: This endpoint get a users rated movies.
      operationId: ratedMovies
      parameters:
        - name: page
          description: the page number
          in: query
          schema:
            type: integer
            default: 1
        - name: language
          description: The ISO 639-1 code for the language
          in: query
          schema:
            type: string
            default: en-US
        - name: sort_by
          in: query
          schema:
            type: string
            enum: ['created_at.asc', 'created_at.desc']
      responses:
        '200':
          description: Rated Movies
          headers:
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            Cache-Control:
              schema:
                type: string
                example: public, max-age=0
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Mon, 03 Mar 2025 08:54:41 GMT
            ETag:
              schema:
                type: string
                example: W/"b4c01f2a4ef698ded2a623a975f675e4"
            Server:
              schema:
                type: string
                example: openresty
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Origin
            Via:
              schema:
                type: string
                example: >-
                  1.1 882971ebff26c2a3bfb086f9b480f172.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Id:
              schema:
                type: string
                example: uF__3PvTlHPc9glOLlJEJvWNA_OXfAI4Al680ksGPdPfXU3UWZcyqw==
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: LOS50-P2
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            x-memc:
              schema:
                type: string
                example: MISS
            x-memc-age:
              schema:
                type: string
                example: '0'
            x-memc-expires:
              schema:
                type: string
                example: '0'
            x-memc-key:
              schema:
                type: string
                example: 9da41905a174948c2201a0bb1cc97e62
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    example: 1
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        account_rating:
                          type: object
                          properties:
                            created_at:
                              type: string
                              example: '2025-01-07T01:14:46.630Z'
                            value:
                              type: number
                              example: 9
                        adult:
                          type: boolean
                          example: false
                        backdrop_path:
                          type: string
                          example: /dWkdmxIkH9y23s9v1PjQFhTGIwo.jpg
                        genre_ids:
                          type: array
                          items:
                            type: number
                            example: 28
                          example:
                            - 28
                            - 18
                            - 53
                            - 10752
                        id:
                          type: number
                          example: 1043905
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: Dirty Angels
                        overview:
                          type: string
                          example: >-
                            During the United States' 2021 withdrawal from
                            Afghanistan, a group of female soldiers posing as
                            medical relief are sent back in to rescue a group of
                            kidnapped teenagers caught between ISIS and the
                            Taliban.
                        popularity:
                          type: number
                          example: 362.017
                        poster_path:
                          type: string
                          example: /3O3qSGmjRGc10hMwFul8WDxKE5t.jpg
                        release_date:
                          type: string
                          example: '2024-12-11'
                        title:
                          type: string
                          example: Dirty Angels
                        video:
                          type: boolean
                          example: false
                        vote_average:
                          type: number
                          example: 6.194
                        vote_count:
                          type: number
                          example: 206
                    example:
                      - account_rating:
                          created_at: '2025-01-07T01:14:46.630Z'
                          value: 9
                        adult: false
                        backdrop_path: /dWkdmxIkH9y23s9v1PjQFhTGIwo.jpg
                        genre_ids:
                          - 28
                          - 18
                          - 53
                          - 10752
                        id: 1043905
                        original_language: en
                        original_title: Dirty Angels
                        overview: >-
                          During the United States' 2021 withdrawal from
                          Afghanistan, a group of female soldiers posing as
                          medical relief are sent back in to rescue a group of
                          kidnapped teenagers caught between ISIS and the
                          Taliban.
                        popularity: 362.017
                        poster_path: /3O3qSGmjRGc10hMwFul8WDxKE5t.jpg
                        release_date: '2024-12-11'
                        title: Dirty Angels
                        video: false
                        vote_average: 6.194
                        vote_count: 206
                      - account_rating:
                          created_at: '2025-01-27T09:55:02.358Z'
                          value: 9
                        adult: false
                        backdrop_path: /xZm5YUNY3PlYD1Q4k7X8zd2V4AK.jpg
                        genre_ids:
                          - 28
                          - 35
                        id: 993710
                        original_language: en
                        original_title: Back in Action
                        overview: >-
                          Fifteen years after vanishing from the CIA to start a
                          family, elite spies Matt and Emily jump back into the
                          world of espionage when their cover is blown.
                        popularity: 568.089
                        poster_path: /3L3l6LsiLGHkTG4RFB2aBA6BttB.jpg
                        release_date: '2025-01-15'
                        title: Back in Action
                        video: false
                        vote_average: 6.486
                        vote_count: 1053
                      - account_rating:
                          created_at: '2025-01-27T09:55:54.471Z'
                          value: 9
                        adult: false
                        backdrop_path: /v9Du2HC3hlknAvGlWhquRbeifwW.jpg
                        genre_ids:
                          - 28
                          - 12
                          - 53
                        id: 539972
                        original_language: en
                        original_title: Kraven the Hunter
                        overview: >-
                          Kraven Kravinoff's complex relationship with his
                          ruthless gangster father, Nikolai, starts him down a
                          path of vengeance with brutal consequences, motivating
                          him to become not only the greatest hunter in the
                          world, but also one of its most feared.
                        popularity: 1195.885
                        poster_path: /1GvBhRxY6MELDfxFrete6BNhBB5.jpg
                        release_date: '2024-12-11'
                        title: Kraven the Hunter
                        video: false
                        vote_average: 6.68
                        vote_count: 1330
                      - account_rating:
                          created_at: '2025-02-07T15:21:28.786Z'
                          value: 8.5
                        adult: false
                        backdrop_path: /eCynaAOgYYiw5yN5lBwz3IxqvaW.jpg
                        genre_ids:
                          - 16
                          - 10751
                        id: 12
                        original_language: en
                        original_title: Finding Nemo
                        overview: >-
                          Nemo, an adventurous young clownfish, is unexpectedly
                          taken from his Great Barrier Reef home to a dentist's
                          office aquarium. It's up to his worrisome father
                          Marlin and a friendly but forgetful fish Dory to bring
                          Nemo home -- meeting vegetarian sharks, surfer dude
                          turtles, hypnotic jellyfish, hungry seagulls, and more
                          along the way.
                        popularity: 118.116
                        poster_path: /eHuGQ10FUzK1mdOY69wF5pGgEf5.jpg
                        release_date: '2003-05-30'
                        title: Finding Nemo
                        video: false
                        vote_average: 7.817
                        vote_count: 19488
                  total_pages:
                    type: number
                    example: 1
                  total_results:
                    type: number
                    example: 4
              examples:
                Rated Movies:
                  value:
                    page: 1
                    results:
                      - account_rating:
                          created_at: '2025-01-07T01:14:46.630Z'
                          value: 9
                        adult: false
                        backdrop_path: /dWkdmxIkH9y23s9v1PjQFhTGIwo.jpg
                        genre_ids:
                          - 28
                          - 18
                          - 53
                          - 10752
                        id: 1043905
                        original_language: en
                        original_title: Dirty Angels
                        overview: >-
                          During the United States' 2021 withdrawal from
                          Afghanistan, a group of female soldiers posing as
                          medical relief are sent back in to rescue a group of
                          kidnapped teenagers caught between ISIS and the
                          Taliban.
                        popularity: 362.017
                        poster_path: /3O3qSGmjRGc10hMwFul8WDxKE5t.jpg
                        release_date: '2024-12-11'
                        title: Dirty Angels
                        video: false
                        vote_average: 6.194
                        vote_count: 206
                      - account_rating:
                          created_at: '2025-01-27T09:55:02.358Z'
                          value: 9
                        adult: false
                        backdrop_path: /xZm5YUNY3PlYD1Q4k7X8zd2V4AK.jpg
                        genre_ids:
                          - 28
                          - 35
                        id: 993710
                        original_language: en
                        original_title: Back in Action
                        overview: >-
                          Fifteen years after vanishing from the CIA to start a
                          family, elite spies Matt and Emily jump back into the
                          world of espionage when their cover is blown.
                        popularity: 568.089
                        poster_path: /3L3l6LsiLGHkTG4RFB2aBA6BttB.jpg
                        release_date: '2025-01-15'
                        title: Back in Action
                        video: false
                        vote_average: 6.486
                        vote_count: 1053
                      - account_rating:
                          created_at: '2025-01-27T09:55:54.471Z'
                          value: 9
                        adult: false
                        backdrop_path: /v9Du2HC3hlknAvGlWhquRbeifwW.jpg
                        genre_ids:
                          - 28
                          - 12
                          - 53
                        id: 539972
                        original_language: en
                        original_title: Kraven the Hunter
                        overview: >-
                          Kraven Kravinoff's complex relationship with his
                          ruthless gangster father, Nikolai, starts him down a
                          path of vengeance with brutal consequences, motivating
                          him to become not only the greatest hunter in the
                          world, but also one of its most feared.
                        popularity: 1195.885
                        poster_path: /1GvBhRxY6MELDfxFrete6BNhBB5.jpg
                        release_date: '2024-12-11'
                        title: Kraven the Hunter
                        video: false
                        vote_average: 6.68
                        vote_count: 1330
                      - account_rating:
                          created_at: '2025-02-07T15:21:28.786Z'
                          value: 8.5
                        adult: false
                        backdrop_path: /eCynaAOgYYiw5yN5lBwz3IxqvaW.jpg
                        genre_ids:
                          - 16
                          - 10751
                        id: 12
                        original_language: en
                        original_title: Finding Nemo
                        overview: >-
                          Nemo, an adventurous young clownfish, is unexpectedly
                          taken from his Great Barrier Reef home to a dentist's
                          office aquarium. It's up to his worrisome father
                          Marlin and a friendly but forgetful fish Dory to bring
                          Nemo home -- meeting vegetarian sharks, surfer dude
                          turtles, hypnotic jellyfish, hungry seagulls, and more
                          along the way.
                        popularity: 118.116
                        poster_path: /eHuGQ10FUzK1mdOY69wF5pGgEf5.jpg
                        release_date: '2003-05-30'
                        title: Finding Nemo
                        video: false
                        vote_average: 7.817
                        vote_count: 19488
                    total_pages: 1
                    total_results: 4
    parameters:
      - name: account_object_id
        in: path
        required: true
        schema:
          type: string
  /4/account/{account_object_id}/tv/rated:
    get:
      tags:
        - ACCOUNT
      summary: Rated TV shows
      description: This endpoint get a users rated tv shows.
      operationId: ratedTvShows
      parameters:
        - name: page
          description: the page number
          in: query
          schema:
            type: integer
            default: 1
        - name: language
          description: The ISO 639-1 code for the language
          in: query
          schema:
            type: string
            default: en-US
        - name: sort_by
          in: query
          schema:
            type: string
            enum: ['created_at.asc', 'created_at.desc']
      responses:
        '200':
          description: Rated TV shows
          headers:
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            Cache-Control:
              schema:
                type: string
                example: public, max-age=0
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Mon, 03 Mar 2025 08:56:00 GMT
            ETag:
              schema:
                type: string
                example: W/"fde31d653e3723e0776a80cd289c3855"
            Server:
              schema:
                type: string
                example: openresty
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Origin
            Via:
              schema:
                type: string
                example: >-
                  1.1 a5f63f2d8d8f510608211881dc599134.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Id:
              schema:
                type: string
                example: yXyX6vBUl-geZqx2OL-oG-bQL4oiVmclEt0BUAMvsCLuJIZXsTzYhg==
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: LOS50-P2
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            x-memc:
              schema:
                type: string
                example: MISS
            x-memc-age:
              schema:
                type: string
                example: '0'
            x-memc-expires:
              schema:
                type: string
                example: '0'
            x-memc-key:
              schema:
                type: string
                example: d5a67c3100147e5d52d5833926f1d504
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    example: 1
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        account_rating:
                          type: object
                          properties:
                            created_at:
                              type: string
                              example: '2025-01-07T01:14:14.080Z'
                            value:
                              type: number
                              example: 8
                        adult:
                          type: boolean
                          example: false
                        backdrop_path:
                          type: string
                          example: /fQsIJQxE1D0Y0NpWSKwo489y5px.jpg
                        first_air_date:
                          type: string
                          example: '2023-11-22'
                        genre_ids:
                          type: array
                          items:
                            type: number
                            example: 10764
                          example:
                            - 10764
                        id:
                          type: number
                          example: 204082
                        name:
                          type: string
                          example: 'Squid Game: The Challenge'
                        origin_country:
                          type: array
                          items:
                            type: string
                            example: GB
                          example:
                            - GB
                        original_language:
                          type: string
                          example: en
                        original_name:
                          type: string
                          example: 'Squid Game: The Challenge'
                        overview:
                          type: string
                          example: >-
                            In this reality competition show inspired by "Squid
                            Game," 456 players put their skills to the ultimate
                            test for a life-changing $4.56 million prize.
                        popularity:
                          type: number
                          example: 159.641
                        poster_path:
                          type: string
                          example: /y85L9DWoaM2MYNg1p8QRywxXJsa.jpg
                        vote_average:
                          type: number
                          example: 6.28
                        vote_count:
                          type: number
                          example: 480
                    example:
                      - account_rating:
                          created_at: '2025-01-07T01:14:14.080Z'
                          value: 8
                        adult: false
                        backdrop_path: /fQsIJQxE1D0Y0NpWSKwo489y5px.jpg
                        first_air_date: '2023-11-22'
                        genre_ids:
                          - 10764
                        id: 204082
                        name: 'Squid Game: The Challenge'
                        origin_country:
                          - GB
                        original_language: en
                        original_name: 'Squid Game: The Challenge'
                        overview: >-
                          In this reality competition show inspired by "Squid
                          Game," 456 players put their skills to the ultimate
                          test for a life-changing $4.56 million prize.
                        popularity: 159.641
                        poster_path: /y85L9DWoaM2MYNg1p8QRywxXJsa.jpg
                        vote_average: 6.28
                        vote_count: 480
                      - account_rating:
                          created_at: '2025-01-29T09:15:05.597Z'
                          value: 8.5
                        adult: false
                        backdrop_path: /mc3rG5M9dFVjMfaCFNfbD5gu2pK.jpg
                        first_air_date: '2005-02-06'
                        genre_ids:
                          - 16
                          - 35
                        id: 1433
                        name: American Dad!
                        origin_country:
                          - US
                        original_language: en
                        original_name: American Dad!
                        overview: >-
                          The series focuses on an eccentric motley crew that is
                          the Smith family and their three housemates: Father,
                          husband, and breadwinner Stan Smith; his better half
                          housewife, Francine Smith; their college-aged
                          daughter, Hayley Smith; and their high-school-aged
                          son, Steve Smith. Outside of the Smith family, there
                          are three additional main characters, including
                          Hayley's boyfriend turned husband, Jeff Fischer; the
                          family's man-in-a-goldfish-body pet, Klaus; and most
                          notably the family's zany alien, Roger, who is "full
                          of masquerades, brazenness, and shocking antics."
                        popularity: 547.859
                        poster_path: /j84ZtVRoxKWTsQUya77um4l8Dqs.jpg
                        vote_average: 6.962
                        vote_count: 2169
                  total_pages:
                    type: number
                    example: 1
                  total_results:
                    type: number
                    example: 2
              examples:
                Rated TV shows:
                  value:
                    page: 1
                    results:
                      - account_rating:
                          created_at: '2025-01-07T01:14:14.080Z'
                          value: 8
                        adult: false
                        backdrop_path: /fQsIJQxE1D0Y0NpWSKwo489y5px.jpg
                        first_air_date: '2023-11-22'
                        genre_ids:
                          - 10764
                        id: 204082
                        name: 'Squid Game: The Challenge'
                        origin_country:
                          - GB
                        original_language: en
                        original_name: 'Squid Game: The Challenge'
                        overview: >-
                          In this reality competition show inspired by "Squid
                          Game," 456 players put their skills to the ultimate
                          test for a life-changing $4.56 million prize.
                        popularity: 159.641
                        poster_path: /y85L9DWoaM2MYNg1p8QRywxXJsa.jpg
                        vote_average: 6.28
                        vote_count: 480
                      - account_rating:
                          created_at: '2025-01-29T09:15:05.597Z'
                          value: 8.5
                        adult: false
                        backdrop_path: /mc3rG5M9dFVjMfaCFNfbD5gu2pK.jpg
                        first_air_date: '2005-02-06'
                        genre_ids:
                          - 16
                          - 35
                        id: 1433
                        name: American Dad!
                        origin_country:
                          - US
                        original_language: en
                        original_name: American Dad!
                        overview: >-
                          The series focuses on an eccentric motley crew that is
                          the Smith family and their three housemates: Father,
                          husband, and breadwinner Stan Smith; his better half
                          housewife, Francine Smith; their college-aged
                          daughter, Hayley Smith; and their high-school-aged
                          son, Steve Smith. Outside of the Smith family, there
                          are three additional main characters, including
                          Hayley's boyfriend turned husband, Jeff Fischer; the
                          family's man-in-a-goldfish-body pet, Klaus; and most
                          notably the family's zany alien, Roger, who is "full
                          of masquerades, brazenness, and shocking antics."
                        popularity: 547.859
                        poster_path: /j84ZtVRoxKWTsQUya77um4l8Dqs.jpg
                        vote_average: 6.962
                        vote_count: 2169
                    total_pages: 1
                    total_results: 2
    parameters:
      - name: account_object_id
        in: path
        required: true
        schema:
          type: string
  /4/account/{account_object_id}/movie/recommendations:
    get:
      tags:
        - ACCOUNT
      summary: Recommend Movies
      description: This endpoint get a users list of recommended movies.
      operationId: recommendMovies
      parameters:
        - name: page
          description: the page number
          in: query
          schema:
            type: integer
            default: 1
        - name: language
          description: The ISO 639-1 code for the language.
          in: query
          schema:
            type: string
            default: en-US
      responses:
        '200':
          description: Recommend Movies
          headers:
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            Cache-Control:
              schema:
                type: string
                example: public, max-age=600
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Mon, 03 Mar 2025 08:57:44 GMT
            ETag:
              schema:
                type: string
                example: W/"915f7a650ab01dc949bf733883cda558"
            Server:
              schema:
                type: string
                example: openresty
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Origin
            Via:
              schema:
                type: string
                example: >-
                  1.1 db0227634f5a6631ffed23eb54e5313e.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Id:
              schema:
                type: string
                example: L0SvxVQVrVZ_2bSvCn8dWRi-Dv3wBRsrSJYOhKLq-2zjaykFCp-r6Q==
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: LOS50-P2
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            x-memc:
              schema:
                type: string
                example: MISS, STORE
            x-memc-age:
              schema:
                type: string
                example: '0'
            x-memc-expires:
              schema:
                type: string
                example: '600'
            x-memc-key:
              schema:
                type: string
                example: 01322f4af0a60c1808cad6e890391aae
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    example: 1
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                        backdrop_path:
                          type: string
                          example: /wijltj1toRcicHlCn8Cpsp4yPXe.jpg
                        genre_ids:
                          type: array
                          items:
                            type: number
                            example: 12
                          example:
                            - 12
                            - 16
                            - 35
                            - 10751
                        id:
                          type: number
                          example: 127380
                        media_type:
                          type: string
                          example: movie
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: Finding Dory
                        overview:
                          type: string
                          example: >-
                            Dory is reunited with her friends Nemo and Marlin in
                            the search for answers about her past. What can she
                            remember? Who are her parents? And where did she
                            learn to speak Whale?
                        popularity:
                          type: number
                          example: 42.88
                        poster_path:
                          type: string
                          example: /3UVe8NL1E2ZdUZ9EDlKGJY5UzE.jpg
                        release_date:
                          type: string
                          example: '2016-06-16'
                        title:
                          type: string
                          example: Finding Dory
                        video:
                          type: boolean
                          example: false
                        vote_average:
                          type: number
                          example: 7.038
                        vote_count:
                          type: number
                          example: 12144
                    example:
                      - adult: false
                        backdrop_path: /wijltj1toRcicHlCn8Cpsp4yPXe.jpg
                        genre_ids:
                          - 12
                          - 16
                          - 35
                          - 10751
                        id: 127380
                        media_type: movie
                        original_language: en
                        original_title: Finding Dory
                        overview: >-
                          Dory is reunited with her friends Nemo and Marlin in
                          the search for answers about her past. What can she
                          remember? Who are her parents? And where did she learn
                          to speak Whale?
                        popularity: 42.88
                        poster_path: /3UVe8NL1E2ZdUZ9EDlKGJY5UzE.jpg
                        release_date: '2016-06-16'
                        title: Finding Dory
                        video: false
                        vote_average: 7.038
                        vote_count: 12144
                      - adult: false
                        backdrop_path: /se5Hxz7PArQZOG3Nx2bpfOhLhtV.jpg
                        genre_ids:
                          - 28
                          - 12
                          - 16
                          - 10751
                        id: 9806
                        media_type: movie
                        original_language: en
                        original_title: The Incredibles
                        overview: >-
                          Bob Parr has given up his superhero days to log in
                          time as an insurance adjuster and raise his three
                          children with his formerly heroic wife in suburbia.
                          But when he receives a mysterious assignment, it's
                          time to get back into costume.
                        popularity: 70.608
                        poster_path: /2LqaLgk4Z226KkgPJuiOQ58wvrm.jpg
                        release_date: '2004-10-27'
                        title: The Incredibles
                        video: false
                        vote_average: 7.708
                        vote_count: 17856
                      - adult: false
                        backdrop_path: /icmmSD4vTTDKOq2vvdulafOGw93.jpg
                        genre_ids:
                          - 28
                          - 878
                        id: 603
                        media_type: movie
                        original_language: en
                        original_title: The Matrix
                        overview: >-
                          Set in the 22nd century, The Matrix tells the story of
                          a computer hacker who joins a group of underground
                          insurgents fighting the vast and powerful computers
                          who now rule the earth.
                        popularity: 122.406
                        poster_path: /dXNAPwY7VrqMAo51EKhhCJfaGb5.jpg
                        release_date: '1999-03-31'
                        title: The Matrix
                        video: false
                        vote_average: 8.2
                        vote_count: 26099
                      - adult: false
                        backdrop_path: /bHeUgZKqduubnNl8GshjrpHS9lF.jpg
                        genre_ids:
                          - 28
                          - 12
                          - 18
                        id: 558449
                        media_type: movie
                        original_language: en
                        original_title: Gladiator II
                        overview: >-
                          Years after witnessing the death of the revered hero
                          Maximus at the hands of his uncle, Lucius is forced to
                          enter the Colosseum after his home is conquered by the
                          tyrannical Emperors who now lead Rome with an iron
                          fist. With rage in his heart and the future of the
                          Empire at stake, Lucius must look to his past to find
                          strength and honor to return the glory of Rome to its
                          people.
                        popularity: 875.346
                        poster_path: /2cxhvwyEwRlysAmRH4iodkvo0z5.jpg
                        release_date: '2024-11-13'
                        title: Gladiator II
                        video: false
                        vote_average: 6.8
                        vote_count: 2928
                      - adult: false
                        backdrop_path: /9Qq8InnodUYs8zdam8Zj967i6RO.jpg
                        genre_ids:
                          - 80
                          - 18
                        id: 1106739
                        media_type: movie
                        original_language: en
                        original_title: 'Juror #2'
                        overview: >-
                          While serving as a juror in a high profile murder
                          trial, family man Justin Kemp finds himself struggling
                          with a serious moral dilemma…one he could use to sway
                          the jury verdict and potentially convict—or free—the
                          accused killer.
                        popularity: 83.074
                        poster_path: /ugQkpGajKFQ8eyOEhGheR0HfWQ.jpg
                        release_date: '2024-10-30'
                        title: 'Juror #2'
                        video: false
                        vote_average: 6.814
                        vote_count: 1486
                      - adult: false
                        backdrop_path: /zo8CIjJ2nfNOevqNajwMRO6Hwka.jpg
                        genre_ids:
                          - 16
                          - 12
                          - 10751
                          - 35
                        id: 1241982
                        media_type: movie
                        original_language: en
                        original_title: Moana 2
                        overview: >-
                          After receiving an unexpected call from her wayfinding
                          ancestors, Moana journeys alongside Maui and a new
                          crew to the far seas of Oceania and into dangerous,
                          long-lost waters for an adventure unlike anything
                          she's ever faced.
                        popularity: 2347.007
                        poster_path: /aLVkiINlIeCkcZIzb7XHzPYgO6L.jpg
                        release_date: '2024-11-21'
                        title: Moana 2
                        video: false
                        vote_average: 7.1
                        vote_count: 1755
                      - adult: false
                        backdrop_path: /sDTnMOJ3H5wI38OxObmCtK7wfd5.jpg
                        genre_ids:
                          - 16
                          - 35
                          - 10751
                        id: 585
                        media_type: movie
                        original_language: en
                        original_title: Monsters, Inc.
                        overview: >-
                          Lovable Sulley and his wisecracking sidekick Mike
                          Wazowski are the top scare team at Monsters, Inc., the
                          scream-processing factory in Monstropolis. When a
                          little girl named Boo wanders into their world, it's
                          the monsters who are scared silly, and it's up to
                          Sulley and Mike to keep her out of sight and get her
                          back home.
                        popularity: 123.709
                        poster_path: /qjlbN6aK1qgeg3SspFVovT2D1Me.jpg
                        release_date: '2001-11-01'
                        title: Monsters, Inc.
                        video: false
                        vote_average: 7.842
                        vote_count: 18677
                      - adult: false
                        backdrop_path: /rOmUuQEZfPXglwFs5ELLLUDKodL.jpg
                        genre_ids:
                          - 28
                          - 14
                          - 35
                        id: 845781
                        media_type: movie
                        original_language: en
                        original_title: Red One
                        overview: >-
                          After Santa Claus (codename: Red One) is kidnapped,
                          the North Pole's Head of Security must team up with
                          the world's most infamous tracker in a globe-trotting,
                          action-packed mission to save Christmas.
                        popularity: 449.798
                        poster_path: /cdqLnri3NEGcmfnqwk2TSIYtddg.jpg
                        release_date: '2024-10-31'
                        title: Red One
                        video: false
                        vote_average: 7.1
                        vote_count: 2350
                      - adult: false
                        backdrop_path: /aMbKYfaexixvsBZKc5whYO7yibR.jpg
                        genre_ids:
                          - 80
                          - 18
                          - 53
                        id: 1082195
                        media_type: movie
                        original_language: en
                        original_title: The Order
                        overview: >-
                          A string of violent robberies in the Pacific Northwest
                          leads veteran FBI agent Terry Husk into a white
                          supremacist plot to overthrow the federal government.
                        popularity: 100.267
                        poster_path: /r3BPhDb45sy87kNV41Q1TwCL6BS.jpg
                        release_date: '2024-12-05'
                        title: The Order
                        video: false
                        vote_average: 6.642
                        vote_count: 446
                      - adult: false
                        backdrop_path: /6RcBQkC2PZJwwbFugqzgvN3moYL.jpg
                        genre_ids:
                          - 53
                          - 28
                        id: 1005331
                        media_type: movie
                        original_language: en
                        original_title: Carry-On
                        overview: >-
                          An airport security officer races to outsmart a
                          mysterious traveler forcing him to let a dangerous
                          item slip onto a Christmas Eve flight.
                        popularity: 260.33
                        poster_path: /sjMN7DRi4sGiledsmllEw5HJjPy.jpg
                        release_date: '2024-12-13'
                        title: Carry-On
                        video: false
                        vote_average: 6.907
                        vote_count: 1981
                      - adult: false
                        backdrop_path: /uKb22E0nlzr914bA9KyA5CVCOlV.jpg
                        genre_ids:
                          - 18
                          - 10749
                          - 14
                        id: 402431
                        media_type: movie
                        original_language: en
                        original_title: Wicked
                        overview: >-
                          In the land of Oz, ostracized and misunderstood
                          green-skinned Elphaba is forced to share a room with
                          the popular aristocrat Glinda at Shiz University, and
                          the two's unlikely friendship is tested as they begin
                          to fulfill their respective destinies as Glinda the
                          Good and the Wicked Witch of the West.
                        popularity: 593.834
                        poster_path: /xDGbZ0JJ3mYaGKy4Nzd9Kph6M9L.jpg
                        release_date: '2024-11-20'
                        title: Wicked
                        video: false
                        vote_average: 6.9
                        vote_count: 1848
                      - adult: false
                        backdrop_path: /tkRDTu9hyWgaBSSzfkYDCZYd1kV.jpg
                        genre_ids:
                          - 18
                          - 9648
                          - 53
                        id: 974576
                        media_type: movie
                        original_language: en
                        original_title: Conclave
                        overview: >-
                          After the unexpected death of the Pope, Cardinal
                          Lawrence is tasked with managing the covert and
                          ancient ritual of electing a new one. Sequestered in
                          the Vatican with the Catholic Church’s most powerful
                          leaders until the process is complete, Lawrence finds
                          himself at the center of a conspiracy that could lead
                          to its downfall.
                        popularity: 503.957
                        poster_path: /m5x8D0bZ3eKqIVWZ5y7TnZ2oTVg.jpg
                        release_date: '2024-10-25'
                        title: Conclave
                        video: false
                        vote_average: 7.1
                        vote_count: 1478
                      - adult: false
                        backdrop_path: /p5ozvmdgsmbWe0H8Xk7Rc8SCwAB.jpg
                        genre_ids:
                          - 16
                          - 12
                          - 35
                          - 10751
                        id: 1022789
                        media_type: movie
                        original_language: en
                        original_title: Inside Out 2
                        overview: >-
                          Teenager Riley's mind headquarters is undergoing a
                          sudden demolition to make room for something entirely
                          unexpected: new Emotions! Joy, Sadness, Anger, Fear
                          and Disgust, who’ve long been running a successful
                          operation by all accounts, aren’t sure how to feel
                          when Anxiety shows up. And it looks like she’s not
                          alone.
                        popularity: 437.374
                        poster_path: /vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg
                        release_date: '2024-06-11'
                        title: Inside Out 2
                        video: false
                        vote_average: 7.6
                        vote_count: 5598
                      - adult: false
                        backdrop_path: /oHPoF0Gzu8xwK4CtdXDaWdcuZxZ.jpg
                        genre_ids:
                          - 12
                          - 10751
                          - 16
                        id: 762509
                        media_type: movie
                        original_language: en
                        original_title: 'Mufasa: The Lion King'
                        overview: >-
                          Mufasa, a cub lost and alone, meets a sympathetic lion
                          named Taka, the heir to a royal bloodline. The chance
                          meeting sets in motion an expansive journey of a group
                          of misfits searching for their destiny.
                        popularity: 2643.627
                        poster_path: /lurEK87kukWNaHd0zYnsi3yzJrs.jpg
                        release_date: '2024-12-18'
                        title: 'Mufasa: The Lion King'
                        video: false
                        vote_average: 7.466
                        vote_count: 1488
                      - adult: false
                        backdrop_path: /b3mdmjYTEL70j7nuXATUAD9qgu4.jpg
                        genre_ids:
                          - 16
                          - 14
                          - 12
                        id: 823219
                        media_type: movie
                        original_language: lv
                        original_title: Straume
                        overview: >-
                          A solitary cat, displaced by a great flood, finds
                          refuge on a boat with various species and must
                          navigate the challenges of adapting to a transformed
                          world together.
                        popularity: 632.705
                        poster_path: /imKSymKBK7o73sajciEmndJoVkR.jpg
                        release_date: '2024-08-29'
                        title: Flow
                        video: false
                        vote_average: 8.3
                        vote_count: 1250
                      - adult: false
                        backdrop_path: /4t8IXJF4umwCfbdpeKLvlN3zkKp.jpg
                        genre_ids:
                          - 10749
                          - 18
                        id: 1100099
                        media_type: movie
                        original_language: en
                        original_title: We Live in Time
                        overview: >-
                          An up-and-coming chef and a recent divorcée find their
                          lives forever changed when a chance encounter brings
                          them together, in a decade-spanning, deeply moving
                          romance.
                        popularity: 103.251
                        poster_path: /oeDNBgnlGF6rnyX1P1K8Vl2f3lW.jpg
                        release_date: '2024-10-10'
                        title: We Live in Time
                        video: false
                        vote_average: 7.385
                        vote_count: 697
                      - adult: false
                        backdrop_path: /vZh2ZoBMyAiH8vYGqadyMBX50Gc.jpg
                        genre_ids:
                          - 14
                          - 35
                        id: 310
                        media_type: movie
                        original_language: en
                        original_title: Bruce Almighty
                        overview: >-
                          Bruce Nolan toils as a "human interest" television
                          reporter in Buffalo, NY, but despite his high ratings
                          and the love of his beautiful girlfriend, Bruce
                          remains unfulfilled. At the end of the worst day in
                          his life, he angrily ridicules God — and the Almighty
                          responds, endowing Bruce with all of His divine
                          powers.
                        popularity: 46.923
                        poster_path: /f0QqG14SZYYZcV4VWykVc5w13dz.jpg
                        release_date: '2003-05-23'
                        title: Bruce Almighty
                        video: false
                        vote_average: 6.717
                        vote_count: 10831
                      - adult: false
                        backdrop_path: /bVSOgrxasVJF6V71T7v2KfBRSzu.jpg
                        genre_ids:
                          - 27
                          - 878
                        id: 933260
                        media_type: movie
                        original_language: en
                        original_title: The Substance
                        overview: >-
                          A fading celebrity decides to use a black market drug,
                          a cell-replicating substance that temporarily creates
                          a younger, better version of herself.
                        popularity: 755.912
                        poster_path: /evdF1vmLzuzH8EFblqAXBXWRGSi.jpg
                        release_date: '2024-09-07'
                        title: The Substance
                        video: false
                        vote_average: 7.1
                        vote_count: 4003
                      - adult: false
                        backdrop_path: /zOpe0eHsq0A2NvNyBbtT6sj53qV.jpg
                        genre_ids:
                          - 28
                          - 878
                          - 35
                          - 10751
                        id: 939243
                        media_type: movie
                        original_language: en
                        original_title: Sonic the Hedgehog 3
                        overview: >-
                          Sonic, Knuckles, and Tails reunite against a powerful
                          new adversary, Shadow, a mysterious villain with
                          powers unlike anything they have faced before. With
                          their abilities outmatched in every way, Team Sonic
                          must seek out an unlikely alliance in hopes of
                          stopping Shadow and protecting the planet.
                        popularity: 2402.503
                        poster_path: /d8Ryb8AunYAuycVKDp5HpdWPKgC.jpg
                        release_date: '2024-12-19'
                        title: Sonic the Hedgehog 3
                        video: false
                        vote_average: 7.744
                        vote_count: 2040
                      - adult: false
                        backdrop_path: /8yPSYhooj8nyBbmV3GVdLDwuE7e.jpg
                        genre_ids:
                          - 18
                          - 10749
                        id: 1079091
                        media_type: movie
                        original_language: en
                        original_title: It Ends with Us
                        overview: >-
                          When a woman's first love suddenly reenters her life,
                          her relationship with a charming, but abusive
                          neurosurgeon is upended, and she realizes she must
                          learn to rely on her own strength to make an
                          impossible choice for her future.
                        popularity: 113.18
                        poster_path: /cSMdFWmajaX4oUMLx7HEDI84GkP.jpg
                        release_date: '2024-08-07'
                        title: It Ends with Us
                        video: false
                        vote_average: 7.1
                        vote_count: 1462
                  total_pages:
                    type: number
                    example: 5
                  total_results:
                    type: number
                    example: 100
              examples:
                Recommend Movies:
                  value:
                    page: 1
                    results:
                      - adult: false
                        backdrop_path: /wijltj1toRcicHlCn8Cpsp4yPXe.jpg
                        genre_ids:
                          - 12
                          - 16
                          - 35
                          - 10751
                        id: 127380
                        media_type: movie
                        original_language: en
                        original_title: Finding Dory
                        overview: >-
                          Dory is reunited with her friends Nemo and Marlin in
                          the search for answers about her past. What can she
                          remember? Who are her parents? And where did she learn
                          to speak Whale?
                        popularity: 42.88
                        poster_path: /3UVe8NL1E2ZdUZ9EDlKGJY5UzE.jpg
                        release_date: '2016-06-16'
                        title: Finding Dory
                        video: false
                        vote_average: 7.038
                        vote_count: 12144
                      - adult: false
                        backdrop_path: /se5Hxz7PArQZOG3Nx2bpfOhLhtV.jpg
                        genre_ids:
                          - 28
                          - 12
                          - 16
                          - 10751
                        id: 9806
                        media_type: movie
                        original_language: en
                        original_title: The Incredibles
                        overview: >-
                          Bob Parr has given up his superhero days to log in
                          time as an insurance adjuster and raise his three
                          children with his formerly heroic wife in suburbia.
                          But when he receives a mysterious assignment, it's
                          time to get back into costume.
                        popularity: 70.608
                        poster_path: /2LqaLgk4Z226KkgPJuiOQ58wvrm.jpg
                        release_date: '2004-10-27'
                        title: The Incredibles
                        video: false
                        vote_average: 7.708
                        vote_count: 17856
                      - adult: false
                        backdrop_path: /icmmSD4vTTDKOq2vvdulafOGw93.jpg
                        genre_ids:
                          - 28
                          - 878
                        id: 603
                        media_type: movie
                        original_language: en
                        original_title: The Matrix
                        overview: >-
                          Set in the 22nd century, The Matrix tells the story of
                          a computer hacker who joins a group of underground
                          insurgents fighting the vast and powerful computers
                          who now rule the earth.
                        popularity: 122.406
                        poster_path: /dXNAPwY7VrqMAo51EKhhCJfaGb5.jpg
                        release_date: '1999-03-31'
                        title: The Matrix
                        video: false
                        vote_average: 8.2
                        vote_count: 26099
                      - adult: false
                        backdrop_path: /bHeUgZKqduubnNl8GshjrpHS9lF.jpg
                        genre_ids:
                          - 28
                          - 12
                          - 18
                        id: 558449
                        media_type: movie
                        original_language: en
                        original_title: Gladiator II
                        overview: >-
                          Years after witnessing the death of the revered hero
                          Maximus at the hands of his uncle, Lucius is forced to
                          enter the Colosseum after his home is conquered by the
                          tyrannical Emperors who now lead Rome with an iron
                          fist. With rage in his heart and the future of the
                          Empire at stake, Lucius must look to his past to find
                          strength and honor to return the glory of Rome to its
                          people.
                        popularity: 875.346
                        poster_path: /2cxhvwyEwRlysAmRH4iodkvo0z5.jpg
                        release_date: '2024-11-13'
                        title: Gladiator II
                        video: false
                        vote_average: 6.8
                        vote_count: 2928
                      - adult: false
                        backdrop_path: /9Qq8InnodUYs8zdam8Zj967i6RO.jpg
                        genre_ids:
                          - 80
                          - 18
                        id: 1106739
                        media_type: movie
                        original_language: en
                        original_title: 'Juror #2'
                        overview: >-
                          While serving as a juror in a high profile murder
                          trial, family man Justin Kemp finds himself struggling
                          with a serious moral dilemma…one he could use to sway
                          the jury verdict and potentially convict—or free—the
                          accused killer.
                        popularity: 83.074
                        poster_path: /ugQkpGajKFQ8eyOEhGheR0HfWQ.jpg
                        release_date: '2024-10-30'
                        title: 'Juror #2'
                        video: false
                        vote_average: 6.814
                        vote_count: 1486
                      - adult: false
                        backdrop_path: /zo8CIjJ2nfNOevqNajwMRO6Hwka.jpg
                        genre_ids:
                          - 16
                          - 12
                          - 10751
                          - 35
                        id: 1241982
                        media_type: movie
                        original_language: en
                        original_title: Moana 2
                        overview: >-
                          After receiving an unexpected call from her wayfinding
                          ancestors, Moana journeys alongside Maui and a new
                          crew to the far seas of Oceania and into dangerous,
                          long-lost waters for an adventure unlike anything
                          she's ever faced.
                        popularity: 2347.007
                        poster_path: /aLVkiINlIeCkcZIzb7XHzPYgO6L.jpg
                        release_date: '2024-11-21'
                        title: Moana 2
                        video: false
                        vote_average: 7.1
                        vote_count: 1755
                      - adult: false
                        backdrop_path: /sDTnMOJ3H5wI38OxObmCtK7wfd5.jpg
                        genre_ids:
                          - 16
                          - 35
                          - 10751
                        id: 585
                        media_type: movie
                        original_language: en
                        original_title: Monsters, Inc.
                        overview: >-
                          Lovable Sulley and his wisecracking sidekick Mike
                          Wazowski are the top scare team at Monsters, Inc., the
                          scream-processing factory in Monstropolis. When a
                          little girl named Boo wanders into their world, it's
                          the monsters who are scared silly, and it's up to
                          Sulley and Mike to keep her out of sight and get her
                          back home.
                        popularity: 123.709
                        poster_path: /qjlbN6aK1qgeg3SspFVovT2D1Me.jpg
                        release_date: '2001-11-01'
[...]
